{% extends 'base.html' %}
{% block meta %}<meta http-equiv="refresh" content="15">{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ context.new_timer.stop_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ context.new_timer.route_name }} - {{ context.new_timer.direction_name }}</h6>    
      <p class="card-text"><span id="{{ context.new_timer.name }}_display"></span> | <span id="{{ context.new_timer.name }}_seconds_remaining"></span></p>
    </div>
  </div>

    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript">
  const root_url = {{ request.root_url|tojson|safe }};
  const intervalID = setInterval(update_values, 1000);

  function update_values() {
    $.getJSON(
      root_url + "_update_timer" + "/new",
      data => {
        $("#new_display").text(data.new_display);
        $("#new_seconds_remaining").text(data.new_seconds_remaining);
        if (data.new_display == 0) {
          clearInterval(intervalID);
        }
      }
    )
  }
</script>

{% endblock %}
