<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        div.card.card-body:hover {
            background-color: yellow;
        }
    </style>
    <title>Look Up Stops</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h3 class="texr-center mb-3">
                    MBTA Stop Lookup
                </h3>
                <div class="form-group">
                    <input type="text" id="search" class="form-control form-control-lg" placeholder="Enter stop name...">
                </div>
                <div id="match-list"></div>
            </div>
        </div>
    </div>
</body>
<script>
    const search = document.getElementById('search');
    const matchList = document.getElementById('match-list');

    const searchStops = async searchText => {
        const res = await fetch('https://api-v3.mbta.com/stops?fields[stop]=name,description');
        const stops = await res.json();

        let matches = stops.data.filter(stop => {
            const regex = new RegExp(`${searchText}`, 'gi');
            return stop.attributes.name.match(regex) // || stop.attributes.description.match(regex);
        });

        if (searchText.length === 0) {
            matches = [];
            matchList.innerHTML = '';
        }

        if (matches.length === 0) {
            matchList.innerHTML = '';
        }

        outputHtml(matches);
    };

    //Show results in html
    const outputHtml = matches => {
        if(matches.length > 0) {
            const html = matches.map(match => `
                <div class="card card-body" onclick="populateSearch()">
                    <h4><span class="text-primary">Name: ${match.attributes.name}<br>Description: ${match.attributes.description}</span><br></h4>
                </div>
            `).join('');

            matchList.innerHTML = html;
        }
    }

    function populateSearch() {
        var x = event.clientX, y = event.clientY,
        elementMouseIsOver = document.elementFromPoint(x, y);
        let re = /Name:\s(.*)Description/;
        let stopContent = elementMouseIsOver.textContent.match(re)[1];
        document.getElementById('search').value = stopContent;
        matches = [];
        matchList.innerHTML = '';
    }


    search.addEventListener('input', () => searchStops(search.value));
</script>
</html>